#icon{
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: space-between; 
  border: 1px solid white;
  border-radius: 25px;
}

a{
    color:black;
    text-decoration: none;
  
}
#pokedex, #cadastro{
    color: blue;
    align-items: center;
    margin-top: 45px;
    margin-left: 45px;
    margin-right: 40px;
    font-size: 25px; 
}

section#message {
    padding: 1.5rem;
    background-color: orange;
    color: red;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  span#close {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
  }
  
  span#close:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.5);
  }
 
input#section {
    display: ;
    align-items: center;
}

body {
    background-color: rgb(67, 67, 233);
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

section {
    margin: 0;
}

.pokemons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.pokemons ul li {
    padding: 5px;
}

.pokemons ul {
    background-color: rgb(148, 148, 226);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    list-style: none;
    margin: 10px;
    margin-top: 40px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pokemons ul li {
    padding: 5px;
}

.pokemons ul li img{
    height: 200px;
    width: 200px;
}

input{
    border-radius: 10px;
    
}

#detalhes1{
    background-color: rgb(148, 148, 226);
    padding: 30px;
    margin: 50px 500px;
    text-align: center;    
    border-radius: 25px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);   
}

#detalhes2, #cadastro1, #cadastro2{
    text-align: center;
    color:rgba(0, 0, 0, 0.4)
}

#form{
    align-items: center;
}

section#cadastro {
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 0 20rem 10rem 20rem;
    box-shadow: 0 0 1rem #00000060;
    border-radius: 1rem;
  }
  
  section#cadastro h2 {
    color: rgb(255, 68, 68);
    text-align: center;
    padding-bottom: 3rem;
    font-size: 2.5rem;
    width: 100%;
  }
  
  section#cadastro form {
    width: 100%;
    padding: 3rem;
  }
  
  section#cadastro form div input {
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
    border: 0.1rem solid #ccc;
  }
  
  section#cadastro form div label {
    font-size: 1.3rem;
    color: blue;
  }
  
  section#cadastro form button {
    border: 1px solid blue;
    background-color: #fff;
    color: blue;
    padding: 1rem;
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.3s ease-out;
    width: 40%;
  }
  
  section#cadastro form button:hover {
    background-color: rgb(68, 127, 255);
    color: #fff;
    transform: scale(1.1);
  }