#home{
    color: red;
    text-decoration: none;
}
#detalhes{
    color: red;
    text-decoration: none;
}

#head-index{
    background-image: aqua;
}

body{
    background-color: rgb(238, 238, 131);
}

#icon{
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  gap: 90px;
}
